# Django
*.log
*.sqlite
db.sqlite3
media/
staticfiles/

# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/
env/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
*.key